# =========================
# Entorno del sistema
# =========================
.DS_Store
Thumbs.db

# =========================
# IDEs (JetBrains / VSCode)
# =========================
.idea/
*.iml
.vscode/
shelf/
workspace.xml

# =========================
# Configuración local sensible
# =========================
.env
server_vars.env
*.local

# =========================
# Bases de datos locales
# =========================
*.duckdb
*.duckdb.wal

# =========================
# Datos fuente
# =========================
# Ignorar formatos pesados o no necesarios
data/source/*.xlsx
data/source/*.parquet

# Permitir dataset público usado en el proyecto
!data/source/dirty_cafe_sales.csv

# =========================
# Outputs generados
# =========================
# Ignorar todo por defecto
data/outputs/
data/outputs/**

# Permitir artefactos finales (evidencia del profiling)
!data/outputs/profiling_tables/
!data/outputs/profiling_tables/business_rules_summary.csv
!data/outputs/profiling_tables/null_pseudonull_summary.csv
!data/outputs/profiling_tables/date_format_validation.csv

# =========================
# Notebooks
# =========================
.ipynb_checkpoints/

# =========================
# Logs y temporales
# =========================
*.log
*.tmp
*.bak

# =========================
# Archivos comprimidos
# =========================
*.zip
*.tar
*.gz